<section class="section">

    <a href="/new" class="button is-warning">New Post</a>

    <div class="container" id="blog-list">

    </div>

    <script type="module" src="/js/index.js"></script>
</section>



