

<footer>
    <div class="footer-container">
        <div class="stay-connected">
            <h3>Stay Connected</h3>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">YouTube</a></li>
            </ul>
        </div>

        <div class="quick-links">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
            </ul>
        </div>

        <div class="newsletter">
            <h3>Subscribe to Our Newsletter</h3>
            <p>Stay updated with the latest posts and news.</p>
            <a href="#" class="subscribe-button">Subscribe Now</a>
        </div>

        <div class="recent-posts">
            <h3>Recent Posts</h3>
            <ul>
                <li><a href="#">Post Title 1</a></li>
                <li><a href="#">Post Title 2</a></li>
                <li><a href="#">Post Title 3</a></li>
            </ul>
        </div>

        <div class="contact-info">
            <h3>Contact Information</h3>
            <p>Email: <a href="mailto:contact@yourblog.com">contact@yourblog.com</a></p>
            <p>Phone: +44 1234 567890</p>
            <p>Address: 123 Blog Street, Newcastle Upon Tyne, NE1 1AA, UK</p>
        </div>

        <div class="footer-bottom">
            <p>© 2024 Your Blog Name. All Rights Reserved.</p>
        </div>
    </div>
</footer>
